
body{
    padding: 0;
    background-color: yellow;
}
.page{
    display: flex;
    flex-wrap: wrap;
}



.section {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        flex-wrap: wrap;
        overflow: hidden;

}

.header{
    background-color: black;
    color: yellow;
    height: 8%;
    width: 100%;
}

/* http://www.wallpapers-web.com/data/out/192/5492640-superman-wallpapers.jpg */
/* https://elearningindustry.com/wp-content/uploads/2015/10/entrepreneurship-and-elearning-top-5-elearning-options-newbie-entrepreneurs.jpg */
.jumbo{
    background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/03/goodwp.com_16580.jpg');
    display: flex; 
    justify-content: flex-end;
    align-items: flex-start;
}
.jumbo img{

    height: 100px;
}

.logos{
    justify-content: center;
    flex: 0 1 100%;
}
.headingz{
  padding-left: 50% ; 
    flex: 1 0 100%;
    color: white;
    font-size: 82px;
    opacity: 0;
    
    
        text-shadow: 0 1px 0 #ccc,
                     0 2px 0 #c9c9c9,
                     0 3px 0 #bbb,
                     0 4px 0 #b9b9b9,
                     0 5px 0 #aaa,
                     0 6px 1px rgba(0,0,0,.1),
                     0 0 5px rgba(0,0,0,.1),
                     0 1px 3px rgba(0,0,0,.3),
                     0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.25),
                     0 10px 10px rgba(0,0,0,.2),
                     0 20px 20px rgba(0,0,0,.15);
      
}



.features{
    display: flex;
    height: 50%;
    background-image: url('http://www.sepeb.com/metallic-grey-wallpaper/metallic-grey-wallpaper-015.jpg');
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.feature{
    display: flex;
    flex-direction: column;
    width: 33.25%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.feature-1{    background-color: #312F2F;
    
    color: white;
}
.feature-2{    background-color: #312F2F;;
    
}
.feature-3{    background-color: #312F2F;;
}

.pulse{
 width: 45px;
 height: 45px;
 border-radius: 50%;
 background-color: blue;
 

}

.pulse:after{

    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
}

















#hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    list-style-type: none;
  }
  
  .hex {
    position: relative;
    visibility:hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  }
  .hex::after{
    content:'';
    display:block;
    padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
  }
  .hexIn{
    position: absolute;
    width:96%;
    padding-bottom: 110.851%; /* =  width / sin(60) */
    margin:0 2%;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
        -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
            transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  }
  .hexIn * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  }
  .hexLink {
      display:block;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #fff;
      overflow: hidden;
      -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
              transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  }
  
  /*** HEX CONTENT **********************************************************************/
  .hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    -webkit-transform: rotate3d(0,0,0,0deg);
        -ms-transform: rotate3d(0,0,0,0deg);
            transform: rotate3d(0,0,0,0deg);
  }
  
  .hex h1, .hex p {
    width: 100%;
    padding: 5%;
    box-sizing:border-box;
    color: white;
    background-color: grey;
    font-weight: 300;
    -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
            transition:          transform .2s ease-out, opacity .3s ease-out;
  }
  .hex h1 {
    bottom: 50%;
    padding-top:50%;
    font-size: 1.5em;
    z-index: 1;
    -webkit-transform:translate3d(0,-100%,0);
        -ms-transform:translate3d(0,-100%,0);
            transform:translate3d(0,-100%,0);
  }
  .hex h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    text-align: center;
    border-bottom: 1px solid #fff;
  }
  .hex p {
    top: 50%;
    padding-bottom:50%;
    -webkit-transform:translate3d(0,100%,0);
        -ms-transform:translate3d(0,100%,0);
            transform:translate3d(0,100%,0);
  }
  
  
  /*** HOVER EFFECT  **********************************************************************/
  .hexLink:hover h1, .hexLink:focus h1,
  .hexLink:hover p, .hexLink:focus p{
    -webkit-transform:translate3d(0,-10%,0);
        -ms-transform:translate3d(0,-10%,0);
            transform:translate3d(0,-10%,0);
  }
  
  /*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
  @media (min-width:1201px) { /* <- 5-4  hexagons per row */
    #hexGrid{
      padding-bottom: 4.4%
    }
    .hex {
      width: 20%; /* = 100 / 5 */
    }
    .hex:nth-child(9n+6){ /* first hexagon of even rows */
      margin-left:10%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
    #hexGrid{
      padding-bottom: 5.5%
    }
    .hex {
      width: 25%; /* = 100 / 4 */
    }
    .hex:nth-child(7n+5){ /* first hexagon of even rows */
      margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
    #hexGrid{
      padding-bottom: 7.4%
    }
    .hex {
      width: 33.333%; /* = 100 / 3 */
    }
    .hex:nth-child(5n+4){ /* first hexagon of even rows */
      margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 600px) { /* <- 2-1  hexagons per row */
    #hexGrid{
      padding-bottom: 11.2%
    }
    .hex {
      width: 50%; /* = 100 / 3 */
    }
    .hex:nth-child(3n+3){ /* first hexagon of even rows */
      margin-left:25%;  /* = width of .hex / 2  to indent even rows */
    }
  }
  
  @media (max-width: 400px) {
      #hexGrid {
          font-size: 13px;
      }
  }

#test{
    display: flex;
    justify-content: center;
    background-color: yellow ;
     width: 100%;
     height: 60%;
  }
  #contain{
      display: flex;
      text-align: center;
      width: 100%;
  }
  #recentimg{
      height: 75%;
  }

  #hexagons{
    display: flex;
    justify-content: center;
    overflow: visible;
  }

  #hexgrid{

    width: 100% ;
  }



@-webkit-keyframes hvr-ripple-out {
    100% {
      top: -18px;
      right: -18px;
      bottom: -18px;
      left: -18px;
      opacity: 0;
    }
  }
  @keyframes hvr-ripple-out {
    100% {
      top: -18px;
      right: -18px;
      bottom: -18px;
      left: -18px;
      opacity: 0;
    }
  }
  .hvr-ripple-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
  }
  .hvr-ripple-out:before {
    content: '';
    position: absolute;
    border: #e1e1e1 solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }
  .hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
  }

  #tests{
    line-height: 45px;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background-color: white;
  }
  .fa-lightbulb-o{

    margin-top: 20%;
  }
  .fa-users{
      color: black;
    margin-top: 20%;
  }
    .fa-cogs{

        color: black;
        margin-top: 20%;
    }
  

  #upcoming{

    background-image: url('https://pbs.twimg.com/media/C-g6wNrXcAMahY7.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }


  
  #scroll {
    z-index: 100000;
      position:fixed;
      right:10px;
      bottom:15px;
      cursor:pointer;
      width:50px;
      height:50px;
      background-color:#3498db;
      
      display:none;
    
  }
  #scroll span {
      position:absolute;
      top:40%;
      left:50%;
      margin-left:-10px;
      margin-top:-12px;
      width: 0;
      height: 0;
      border: solid 10px;
      border-color: transparent transparent white transparent;
  }
  #scroll:hover {
      background-color:#e74c3c;
      opacity:1;filter:"alpha(opacity=100)";
      -ms-filter:"alpha(opacity=100)";
  }
  







 .application-container {
  
  display: flex;
  width: 100%;
  justify-content: center;    /* Add this */
  background-color: yellow;
  
  flex-wrap: wrap;
}
.application {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: yellow;
  
}

.about{
  
  flex-wrap: wrap;
  width: 50%;  
}
.about h1{
  color: black ; 
}

#counter{
  margin-right: 20%;
}





.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}


  
  @media only screen and (max-width: 750px) {
    
    .feature{
      height: 50%;
    }
    .features{
      height: 600px;
    }


    .feature-1,
    .feature-2,
    .feature-3 {
      width: 50%;
    }
    .feature-3{
      width: 100%;
    }
  }




/* -----------------------------------------------  HEADER STYLES----------------------------------------------------------------------- */



  .main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: -10px;
  line-height: 2;
  margin-bottom: 10px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

.roww {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

* {
  box-sizing: border-box;
}

body {
  color: #8f8f8f;
  background: yellow;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

.content {
  padding: 50px 2% 250px;
}


@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

a{
  text-decoration: none;
}


#damnn{
  background-color: yellow;
}




.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }

.pages{
  height: 50%;
}
.rowslide{
  height: 30%;
}
.rowslide h3 {
	background: #f0f0f0;
	color: #3498db;
	font-size: 2.25rem;
	margin: .5rem;
	padding: 2%;
	position: relative;
	text-align: center;
}

.slider-single h3 {
	line-height: 10rem;
}

.slider-nav{
  margin: 0 auto;
}

.slider-nav h3::before {
	content: "";
	display: block;
	padding-top: 75%;
}

.slider-nav h3 span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slider-nav .slick-slide { cursor: pointer; }

.slick-slide.is-active h3 {
	color: #c00;
	background-color: black;
}


.btn-info{
  background-color: black !important;
  border-color: black !important;
}
